@media(max-width: 450px){
    .s1{
        margin:0;
    }
    .container{
        display: inline;
        margin: 0;
    }

    .project3-container{
        display: inline;
        margin: 0;
    }

    .project-image{
        float: none;
        margin: 20px;
    }

    .title{
        float: none;
    }
    .header-links{
        float: none;
        display: inline;
        margin: 0;
    }

    .presentation{
        /* max-width: 100%; */
        padding-top: 0;
        margin:0;
    }
    .project-links{
        display: inline;
    }
}